<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<elasticsearch:repositories base-package="com.perist.elasticsearch.repository"/>-->

    <elasticsearch:transport-client id="client" cluster-name="tns" cluster-nodes="10.2.3.201:9300,10.2.3.202:9300"/>

    <bean name="elasticsearchTemplate" class="com.tujia.tns.order.es.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>

</beans>